body {
  font-family: Roboto, sans-serif;
}
//mixins
@mixin display($size) {
  @if $size == small {
    @media (max-width: 576px) { @content; }
  }@else if $size == mobile {
    @media (max-width: 1240px) { @content; }
  }@else if $size == tablet-small-down {
    @media (max-width: 768px) { @content; }
  }
  @else if $size == tablet-medium-up {
    @media (min-width: 992px) { @content; }
  }
}
//functions
@function rem($value: 2rem) {
  @return ($value / 16 * 1rem); //change from px to rem
}
//containers
.container{
  max-width: rem(1200);
  width: 100%;
  margin: 0 auto;
}
.container-fluid{
  width: 100%;
}
.bg1{
  background-color: chocolate;
}
.bg2{
  background-color: rgb(142, 211, 148);
}
.bg3{
  background-color: rgb(30, 210, 165);
}